{% extends './layout.html' %}

{% block title %}Notes{% endblock title %}

{% block head %}

{% endblock head %}

{% block body %}
    <div id="app">

    </div>
{% endblock body %}

{% block script %}
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script type="text/jsx">
        const app = document.getElementById('app');
        ReactDOM.render(<h1>Develop. Preview. Ship. 🚀</h1>, app);
    </script>
{% endblock script %}